.sp_zzyhBMIfOYy{background-image:url(/rsrc.php/v3/yx/r/Z0RmT4wz_pN.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_zzyhBMIfOYy.sx_3c5b33{background-position:0 0}.sp_zzyhBMIfOYy.sx_3d6dd9{background-position:0 -13px}

#bootloader_L149g{height:42px;}.bootloader_L149g{display:block!important;}