._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
.fbPhotoSnowliftContainer .uiTypeaheadView .hintText{display:none}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}
.sp_rnT_9kHfSYx{background-image:url(/rsrc.php/v3/yk/r/XsMb4FqJXqi.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:16px}.sp_rnT_9kHfSYx.sx_d9c2a3{height:16px;background-position:0 0}.sp_rnT_9kHfSYx.sx_d64233{width:12px;background-position:0 -32px}.sp_rnT_9kHfSYx.sx_b86ec2{width:14px;background-position:0 -17px}

#bootloader__pT2d{height:42px;}.bootloader__pT2d{display:block!important;}